<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Salvo</title>
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="styles/main.css">
    </head>
<body>
<div id="game">
	<h1 class="title">Salvo Battleship</h1>
    <form onsubmit="return false" v-if="player == 'guest'">
        <fieldset>
        <h2>Login</h2>
        <div>
        <label>Username: <input type="text" name="username"></label>
        <label>Password: <input type="text" name="password"></label>
        </div>
        </fieldset>
        <button id="login-btn" onclick="login(event)">Login</button>
        <button id="signin-btn" onclick="signin(event)">Sign in</button>
    </form>

    <form onsubmit="return false" v-if="player == 'guest'" >
    </form>

    <form id="logout-form" onsubmit="return false" v-if="player != 'guest'">
        <button onclick="logout(event)">Logout</button>
    </form>

    <form v-if="player != 'guest'" >
    <button onclick="creategame(event)">Create Game</button>

    <div  class="row">
    <ol >
        <li v-for="game in games">Game #{{game.gameID}} Creation Date: {{game.creationDate}}:
            <ul>
                <li v-for="gamePlayer in game.gamePlayers">{{gamePlayer.player.email}} <a
                        :href="'game.html?gp=' + gamePlayer.GamePlayerID" :data-id="gamePlayer.GamePlayerID"
                        v-if="player.email == gamePlayer.player.email"> Enter</a><a href="#" v-if="(game.gamePlayers.length == 1) && (gamePlayer.player.email != player.email)" onclick="joingame(event)" :data-id="game.gameID">Join</a>
                </li> <br>
            </ul>
        </li>
    </ol>
    </div>

	<div class="flex-container">
		<table id="games-table"></table>
    
    	<table id="leaderboard"></table>
	</div>
</div>


    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="scripts/games.js"></script>




</body>
</html>